@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #02bfd3;
    --primary-color-dark: #02abbe;
    --secondary-color: #131932;
    --background-color: #81b449;
    --background-color-light: #edecec;
  }
}

@layer utilities {
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
